# Backend Server Configuration
PORT=5050
DATABASE_URL=postgresql://neondb_owner:npg_e5Y6TOZfWUBC@ep-holy-snow-auicbczg-pooler.c-10.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
FRONTEND_URL=http://localhost:3000
